*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body{
  max-width: 100vw;
  overflow-x:hidden;
  
} 
a{
  text-decoration: none;
  color: inherit;

}
.theme{
  transition: 0.5s ease;
}
.light{
  background-color: #fff0f0;
  color: #040303;
}
.dark{
  background-color: #111;
  color: #bbb;
}
.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
