.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    
    

}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    cursor: pointer;
    color: wheat;
    border-radius: 3px;
}