/* General container for the sidebar and toggle button */
.container {
  display: flex;
}

/* Menu toggle button */
.menuToggle {
  display: none;
  font-size: 30px;

  cursor: pointer;
  margin: 20px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1001;
}

/* Sidebar styles */
.sidebar {
  width: 250px;

   
  
 
  height: 100vh;
  padding: 90px 20px 20px 50px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%); /* Sidebar hidden by default */
}

/* Individual nav items */
.navItem {
  display: flex;
  align-items: center;
  padding: 15px 10px;

  text-decoration: none;
  transition: background-color 0.3s;
}

.navItem:hover {
  background-color: #444;
}

.navItem .span {
  margin-left: 10px;
}

/* Sidebar open on mobile when the .open class is applied */
.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .menuToggle {
    display: block;
    color: white; 
    
  }
  .sidebar{
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0); 
    
    /* Sidebar is always visible on larger screens */
  }

  .menuToggle {
    display: none; /* Hide the menu toggle button on larger screens */
  }
}
