.container{
   
}
.catTitle{
color: #53c28b;
}
.item{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;

}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}
.item:nth-child(2n+1){
    flex-direction: row-reverse;
}

.title{
    font-size: 50px;
}
.desc{font-size: 20px;}
.imgContent{
    flex: 1;
    height: 500px;
    position: relative;
}
.img{
    object-fit: cover;

}